<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Planejamentos | Gestor Financeiro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_main/css/planejamentos/planejamentos.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@34,400,0,0" />

    <link rel="shortcut icon"
        href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABL0lEQVR4nO2TTU4CQRSEPzkDGOcAXII7sIDAGcStHsjByAlYIYtO/GFhvAJLdMcOSNiMeUmRDDh2xjegGyuZ9LzunqrX1TXwB6gBfWAITIEU6Gm+Ms6BFyADFsBMo9XPQKNq50a+Ai6BOjDSOND8U5WT9NWpkSfAm+ol0AauVHe9Aney4wy4EdkcGANNzX/oTlyYyCJDC9hKZKsa3Yntc8FS865Om+p8LpFreW8nuPUK9EQ2kOdL1a/ARe4OOgffJbJtmou17f+CmqK4Epml516j1WvgsSBFRrjJCWxip2woipnsmmnMRF70HwQ939WFJ+mqswd104nk/8cCRUgiPh9FII34fBSBECEpLeC1IZQV8NoQygp4ScK/wK9ccupc24NF0hZ2G+19F1Pv2unxCWJ/qsBOhuknAAAAAElFTkSuQmCC">
</head>


<body>

    <header>
        <ul class="list-header">
            <li class="item-header"><a href="{% url 'home' %}">logo</a></li>
            <li class="item-header"><a href="{% url 'home' %}"><span class="material-symbols-outlined">home</span>
                    HOME</a>
            </li>
            <li class="item-header"><a href="{% url 'planejamentos' %}"><span
                        class="material-symbols-outlined">flight_takeoff</span> PLANEJAMENTOS</a></li>
            <li class="item-header"><a href="{% url 'movimentacoes' %}"><span
                        class="material-symbols-outlined">monitoring</span> MOVIMENTAÇÕES</a></li>
            <li class="header-icons">
                <a class="minor-icons" href="{% url 'configuracoes' %}"><span class="material-symbols-outlined">settings</span></a>

                <a class="minor-icons" href="{% url 'perfil' %}"><span class="material-symbols-outlined">person</span></a>

                <a class="minor-icons" href="{% url 'logout' %}"><span class="material-symbols-outlined">logout</span></a>
            </li>
        </ul>
    </header>

</body>

</html>