*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #5BA5A3;
    align-items: center;
    font-family: "Poppins", sans-serif;
}

header{
    background-color: #03514F;
    height: 99px;
    width: 100%;
}

.list-header{
    height: 99px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
    & a{
        color: white;
        display: flex;
        align-items: center;
        gap: 3px;
    }
}

.logo{
    width: 90px;
    transform: translateY(5px);
}

.header-icons{
    display: flex;
    gap: 10px;
}


.item-header :hover{
    color: #5BA5A3
}

.minor-icons :hover{
    color: #5BA5A3
}

.material-symbols-outlined {
    
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.perfil-section{
    margin-top: 2%;
    height:  25vh;
    width: 30%;
    display: grid;
    justify-items: end;
    gap: 10px;

    & .perfil-container{
        width: 100%;
        height: 275px;
        background-color: #ffffffab;
        border-radius: 20px;
        padding: 5%;
    }
}

.perfil{
    display: grid;
    height: 100%;
    width: 100%;
    gap: 20px;
}

.perfil-name{
    display: flex;
    align-items: center;
    gap: 20px;
}

.foto{
    height: 110px;
    width: 110px;
    border-radius: 100%;
    border: 2px solid black;
    & img{
        position: center;
        width: 100%;
        border-radius: 100%;
    }
}

.nome{
    color: black;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.email{
    color: black;
    font-size: 24px;
    font-weight: 500;
    display: flex;
    gap: 10px;

    & P{
        color: #03514F;
    }
}

.id-user{
    position: absolute;
    justify-self: right;
    align-self: end;
}

.delete-user{
    background-color: red;
    border: 1px solid black;
    outline: none;
    height: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
    border-radius: 10px;
}

.delete-user:hover{
    background-color: rgb(230, 0, 0);
}

.ju{
    position: absolute;
    transform: translateY(96vh) translateX(48vw);
    color: #6dc9c6;
}