<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Home | Gestor Financeiro</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'app_main/css/home/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@34,400,0,0" />

    <link rel="shortcut icon" href="{% static 'app_main/images/logo_mini.png' %}">
</head>

<body>
    <header>
        <ul class="list-header">
            <li class="item-header"><a href="{% url 'home' %}"><img class="logo"
                        src="{% static 'app_main/images/logo.png' %}"></a></li>
            <li class="item-header"><a href="{% url 'home' %}"><span class="material-symbols-outlined">home</span>
                    HOME</a>
            </li>
            <li class="item-header"><a href="{% url 'planejamentos' %}"><span
                        class="material-symbols-outlined">flight_takeoff</span> PLANEJAMENTOS</a></li>
            <li class="item-header"><a href="{% url 'movimentacoes' %}"><span
                        class="material-symbols-outlined">monitoring</span> MOVIMENTAÇÕES</a></li>
            <li class="header-icons">
                <a class="minor-icons" href="{% url 'configuracoes' %}"><span
                        class="material-symbols-outlined">settings</span></a>

                <a class="minor-icons" href="{% url 'perfil' %}"><span
                        class="material-symbols-outlined">person</span></a>

                <a class="minor-icons" href="{% url 'logout' %}"><span
                        class="material-symbols-outlined">logout</span></a>
            </li>
        </ul>
    </header>

    <body>
        <section class="container">
            <div class="container-content">
                acesso rapido
            </div>

            <div class="container-content-second"> 
                <div class="second-container">

                    <div>
                        <p class="frase">“Uma jornada de mil quilômetros precisa começar com um simples passo.”</p>
                        <p class="autor">– Lao Tzu</p>
                    </div>
                    <!-- <div><p class="frase">“A riqueza é consequência de trabalho e poupança.”</p> <p class="autor">– Benjamin Franklin</p></div>
                <div><p class="frase">“Jamais gaste seu dinheiro antes de você possuí-lo.”</p> <p class="autor">– Thomas Jefferson</p></div>
                <div><p class="frase">“Sucesso é a soma de pequenos esforços, repetidos o tempo todo.”</p> <p class="autor">– Robert Collier</p></div>
                <div><p class="frase">“Dinheiro é apenas uma ferramenta. Ele irá levá-lo onde quiser, mas não vai substituí-lo como motorista.”</p> <p class="autor">– Ayn Rand</p></div>
                <div><p class="frase">“Cuidado com as pequenas despesas, um pequeno vazamento afundará um grande navio.”</p> <p class="autor">– Benjamin Franklin</p></div>
                <div><p class="frase">“As pessoas gastam um dinheiro que não têm, para comprar coisas de que elas não precisam, para impressionar pessoas de quem não gostam.”</p> <p class="autor">– Will Rogers </p></div> -->

                </div>

                <div class="double-span">
                    <span class="first_span">
                        <img class="unisc_logo" src="{% static 'app_main/images/unisc_logo.png' %}">
                    </span>

                    <span class="second_span">
                        <div class="infos">
                            <p class="titulo">Fabrica de Software - 2024/1</p>
                            <p class="nomes">Feito por:<br>HENRIQUE TESCHE, LEONARDO REUTER E RAFAEL ZANELLA</p>
                            </p>
                        </div>
                    </span>
                </div>
            </div>
        </section>

    </body>

</html>